com.sh
cmake-build-debug/*
*.make
*.cmake
*~
venv/*
cmake-build-release/*
**/.DS_Store
.history/*
lib/.DS_Store
*.DS_Store
**/*.dSYM/*
.idea/
.DS_Store
*.idea/
.vscode/
build/
.cache/
**/**/cmake-build-debug/
*/cmake-build-debug/*
*/cmake-build-debug*/
*/*cmake-build-debug*/
**/**/**/cmake-build-debug/*
*/CMakeFiles/*
**/CMakeFiles/**
**/Makefile
**/*.a
**/*.pc
**/CMakeCache.txt
**/practical_exercises/key_exercises/res/*.txt
.vscode-ctags
