[submodule "ref/cpp-learning"]
	path = ref/cpp-learning
	url = git@github.com:chengxumiaodaren/cpp-learning.git
[submodule "lib/magic_enum"]
    path = lib/magic_enum
    url = git@github.com:Neargye/magic_enum.git
[submodule "lib/dbg-macro"]
	path = lib/dbg-macro
	url = https://github.com/sharkdp/dbg-macro
