[submodule "ref/cpp-learning"]
	path = ref/cpp-learning
	url = https://github.com/chengxumiaodaren/cpp-learning.git
[submodule "lib/magic_enum"]
    path = lib/magic_enum
    url = https://github.com/Neargye/magic_enum.git
[submodule "lib/dbg-macro"]
	path = lib/dbg-macro
	url = https://github.com/sharkdp/dbg-macro
[submodule "learn_algorithms/c"]
       path = learn_algorithms/c
       url = https://github.com/TheAlgorithms/C.git
[submodule "lib/tinyxml"]
	path = lib/tinyxml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "lib/iniparser"]
	path = lib/iniparser
	url = https://github.com/ndevilla/iniparser.git
[submodule "lib/ltp"]
	path = lib/ltp
	url = https://github.com/linux-test-project/ltp.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
