com.sh
cmake-build-debug/*
*.make
*~
venv/*
cmake-build-release/*
**/.DS_Store
.history/*
lib/.DS_Store
*.DS_Store
**/*.dSYM/*
practical_exercises/.*
.idea/
.DS_Store
*.idea/
.vscode/
build/
.cache/
**/**/cmake-build-debug/
*/cmake-build-debug/*
*/cmake-build-debug*/
*/*cmake-build-debug*/
**/**/**/cmake-build-debug/*
